body{
    background-image: url(pngtree-fashion-navy-blue-cloth-pattern-texture-background-image_537803.jpg);
    
}

.section-container{
    display: flex;
    margin-bottom: 150px;
}
.junior-expert{
    display: flex;
    margin-top: 80px;
    margin-bottom: 50px;
}

.welcome{
    color: paleturquoise;
    font-family: 'Playfair Display', serif;
    font-size: 70px;
}

.sisir{
    color: tomato;
    font-size: 25px;
}



.introduce{
    color: paleturquoise;
    font-size: 40px;
}

.expert{
    color: paleturquoise;
    font-size: 30px;
}

.my-paragraph{
    color: paleturquoise;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.contract-button{
    text-decoration: none;
    background-image: linear-gradient(yellow,orange);
    color: crimson;
    padding: 10px 30px;
    font-size: 24px;
    border-radius: 10px;
}

.half-wide{
    width: 50%;
    padding: 2%;
    
}

.flexible{
    display: flex;
    margin-bottom: 150px;
}

.half-wide img{
    width: 600px;
}

.flexible2 img{
    border-radius: 50px;
    
}

.flexible2{
    display: flex;
    margin-bottom: 150px;
} 

.fst-box{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 20px 20px 50px rgb(247, 207, 135);
}

#nx-border{
    border-left: 7px solid;
    border-image: linear-gradient(cyan,blue);
    border-image-slice: 1;
}
#nx-border2{
    border-left: 7px solid;
    border-image: linear-gradient(cyan, purple);
    border-image-slice: 1;
}
    
